<!--  ======================= Start Main Area ================================ -->
<main class="site-main">
  <!--  ======================= Project Area =============================  -->
  <section class="project-area">
        <div class="container">
                    <div class="col-lg-12">
                          <div class="project-title pb-5">
                            <h1 class="text-uppercase title-h1">Recently Done Project</h1>
                            <h1 class="text-uppercase title-h1">Quality Work</h1>
                            <hr />
                          </div>
                          <ul class="filters text-center">
                            <li class="active" data-filter="*"><a href="#!">All</a></li>
                            <li data-filter=".Angular"><a href="#!">AngularApp</a></li>
                            <li data-filter=".Javascript"><a href="#!">Js templates</a></li>
                            <li data-filter=".Core"><a href="#!">Asp.net Core</a></li>
                            <li data-filter=".Data"><a href="#!">Data-tables</a></li>
                            <li data-filter=".Templates"><a href="#!">Templates</a></li>
                          </ul>
                          <div class="projects">
                              <div id="card" class="row grid justify-content-center">
                                  <div *ngFor="let port of ports" class="col-md-6 outside-box">
                                    <app-portfolio-card [port]="port"></app-portfolio-card>
                                  </div>
                              </div>
                          </div>
                    </div>
          </div>
  </section>
</main>
